<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582500311244-ol2nhfkmqrhdqjlifu0u9pgde9m95p0i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582500311244-ol2nhfkmqrhdqjlifu0u9pgde9m95p0i</string>
	<key>API_KEY</key>
	<string>AIzaSyCy0vHVAAdB2SMysmTaFLo6y3DTCYm2c4w</string>
	<key>GCM_SENDER_ID</key>
	<string>582500311244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shineholder.axieTracker</string>
	<key>PROJECT_ID</key>
	<string>axie-tracker-11394</string>
	<key>STORAGE_BUCKET</key>
	<string>axie-tracker-11394.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582500311244:ios:4c271d03a92eccd225a269</string>
</dict>
</plist>